<header class="page-header">
  OK, let’s start. You should here the music clip now. Indicate the direction from which the FOREGROUND sounds come from and press the Next button.
</header>
<section class="page-content">
  <div style="height: 400px;"></div>
  <div style="text-align: right; color: rgb(46, 117, 182); font-weight: bold;">Test X out of 28</div>
</section>
<nav class="page-navigation">
  <a mat-raised-button class="navigation-button" routerLink="/finish">Next</a>
  <a mat-raised-button class="navigation-button" routerLink="/headphones-test">Previous</a>
  <div id="help-note">
    If you encounter problems with the audio playback, check your audio setting on your device, and refresh this page. <a href="">Further help</a>
  </div>
</nav>
