<mat-progress-bar id="progress-bar" [value]="currentTestNumber * (100 / testCount)"></mat-progress-bar>
<header class="page-header">
  <span *ngIf="currentTestNumber === 1; else regularHeader">
    OK, let’s start. You should here the music clip now. Indicate the scene which fits best what you hear and press the Next button.
  </span>
  <ng-template #regularHeader>
    Indicate the scene which fits best what you hear.
  </ng-template>
</header>
<section class="page-content">
  <div id="scene-select-container" fxLayout="row">
    <div fxFlex fxLayoutAlign="center center">
      <button mat-fab class="scene-select-button" (click)="selectScene($event.currentTarget)">Front</button>
    </div>
    <div fxFlex fxLayoutAlign="center center">
      <button mat-fab class="scene-select-button" (click)="selectScene($event.currentTarget)">Back</button>
    </div>
    <div fxFlex fxLayoutAlign="center center">
      <button mat-fab class="scene-select-button" (click)="selectScene($event.currentTarget)">All-around</button>
    </div>
  </div>
  <div id="test-counter">Test {{ currentTestNumber }} out of {{ testCount }}</div>
</section>
<nav class="page-navigation">
  <a mat-raised-button class="navigation-button" (click)="goToNextTest()">Next</a>
  <a mat-raised-button class="navigation-button" (click)="goToPreviousTest()">Previous</a>
  <div id="help-note">
    If you encounter problems with the audio playback, check your audio setting on your device, and refresh this page. <a href="">Further help</a>
  </div>
</nav>
