// @import '../../../styles.scss';

#progress-bar {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.page-header {
	width: 100%;
	height: 100px;
	font-size: 28px;
	font-weight: bold;
}

#scene-select-container {
	height: 280px;
}

#front {}
#back {}
#front-back {}

.scene-select-button {
	width: 100%;
	height: 260px;
	// background-color: gray;
	img {
		width: 100%;
	}
}

.scene-select-button:hover {
	// background-color: green !important;	
}

.test {
	height: 50px;
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
  filter: none;
	-webkit-filter: grayscale(0%);
	border: 2px dashed green;
}

.selected-border {
	border: 5px solid green;
}

#test-counter {
	padding-top: 30px;
	text-align: right;
	font-weight: bold;
	color: rgb(46, 117, 182);
}

.mat-raised-button ~ .mat-raised-button {
	margin-right: 16px;
}

#help-note {
	width: 394px;
	padding-right: 10px;
}

::ng-deep .my-snackbar {
	min-width: 250px !important;
	height: 50px;
	display: block;
	margin-top: 330px !important;
	background: tomato;
	text-align: center;
}

::ng-deep .my-snackbar .mat-simple-snackbar {
	justify-content: center;
	font-size: 24px;
	color: white;
}

#audio-toggle-button-container {
	padding-top: 30px;
	padding-bottom: 20px;
}

.play-icon {
	width: 36px;
	height: 36px;
	font-size: 36px;
	margin-bottom: 5px;
}

.link-like {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}