<header class="page-header">
  Report your problem
</header>
<section class="page-content" id="finish-page-content">
  We are sorry that you weren't able to complete the test due to technical problems. Please describe the problem below.
  <mat-card id="comment-area">
    <mat-form-field>
      <textarea matInput placeholder="report the problem here"></textarea>
    </mat-form-field>
  </mat-card>
</section>
<nav class="page-navigation">
  <a mat-raised-button class="navigation-button" (click)="onSendCommentButtonClick()">Send report</a>
</nav>
<section style="margin-top: 20px;">
  <b>Credits:</b>
  <b>Credits:</b> 
  <ul>
    <li>
      <a href="http://www.cambridge-mt.com/ms-mtk.htm#GhostlyBeard_SetMeFree">“Set Me Free”</a>
      by 
      <a href="https://ghostlybeard.com/music">Ghostly Beard</a>, 
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=RqGmJkga4Ac">"Place 2 Be"</a> (TELEFUNKEN 
      <a href="https://www.telefunken-elektroakustik.com/live-from-the-lab-season-3">Live From The Lab</a>) 
      by 
      <a href="http://www.funkydawgzbrassband.com/">Funky Dawgz Brass Band</a>, 
    </li>
    <li>
      <a href="http://www.cambridge-mt.com/ms-mtk.htm#AlejoGranados_RumbaChonta">“Rumba Chonta”</a> 
      by 
      <a href="https://www.facebook.com/AlejoGranadosT">Alejo Granados</a>, 
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=rxqD-KV8dfo&feature=youtu.be">"Scar"</a> (TELEFUNKEN 
      <a href="https://www.telefunken-elektroakustik.com/live-from-the-lab-season-2">Live From The Lab</a>) 
      by 
      <a href="http://www.thelonelywild.com/">The Lonely Wild</a>, 
    </li>
    <li>
      <a href="http://www.cambridge-mt.com/ms-mtk.htm#AlJames_SchoolboyFascination">“Schoolboy Fascination”</a> 
      by 
      <a href="http://www.aljames.co.uk/index2.html">Al James</a>, 
    </li>
    <li>
      <a href="http://www.cambridge-mt.com/ms-mtk.htm#BolzKnecht_BrahmssHungarianDanceNo5">“Brahms's 'Hungarian Dance No. 5”</a> 
      by 
      <a href="http://christianbolz.de/">Bolz</a> 
      & 
      <a href="http://www.tobiasknecht.de/gitarrist_komponist">Knecht</a> 
    </li>
  </ul>
</section>
