<header class="page-header">
  Now, put your headphones on…
</header>
<section class="page-content">
  and listen to the audio clips by pressing the buttons below. Adjust the volume to a comfortable level. Make sure that the headphones are placed correctly and work fine.
  <div id="channel-test-container">
    <div class="channel-test-element">
      <button mat-raised-button class="navigation-button" (click)="toggleLeftChannelTest()">
        <mat-icon id="left-icon" class="play-icon">play_circle_outline</mat-icon>
      </button>
      <div>Left channel</div>
    </div>
    <div class="channel-test-element" style="height: 280px;">
      <mat-icon style="width: 300px; height: 280px; font-size: 306px; color: gray;">headset</mat-icon>
    </div>
    <div class="channel-test-element">
      <button mat-raised-button class="navigation-button" (click)="toggleRightChannelTest()">
        <mat-icon id="right-icon" class="play-icon">play_circle_outline</mat-icon>
      </button>
      <div>Right channel</div>
    </div>
  </div>
  Please keep your headphones on during all the tests. Adjust the volume at any time so that the clips are played back at a comfortable level. 
</section>
<nav class="page-navigation">
  <a mat-raised-button class="navigation-button" (click)="gotoNextPage()">Begin test</a>
  <a mat-raised-button class="navigation-button" (click)="goToPreviousPage()">Previous</a>
  <div id="help-note">
    If you encounter problems with the audio playback, check your audio setting on your device, and refresh this page. 
    <span class="link-like" (click)="onFurtherHelpClick()">Further help</span>
  </div>
</nav>
