<header class="page-header">
  Front ensemble
</header>
<section class="page-content">
  <img style="width: 300px; height: 300px; margin-left: 45px; float: right;" src="../../../assets/acoustic scenes/front scene.png">
  As you can see in the picture on the right, an ensemble of musicians is located in front of a listener.
</section>
<nav class="page-navigation">
  <a mat-raised-button class="navigation-button" (click)="gotoNextPage()">Next</a>
  <a mat-raised-button class="navigation-button" (click)="goToPreviousPage()">Previous</a>
</nav>
