<div style="overflow-x: hidden;">
  <p><b>Make sure to check the folowing issues</b></p><a href=""></a>
  <mat-list>
    <mat-list-item>1. Check headphones cable connections</mat-list-item>
    <mat-list-item>2. Check whether your headphones are muted</mat-list-item>
    <mat-list-item>3. Try to increase the volume level</mat-list-item>
    <mat-list-item>4. Check if the headphones are placed correctly on your head</mat-list-item>
    <mat-list-item>5. Draw out earplugs if you have them inserted</mat-list-item>
    <mat-list-item>6. See if your browser mutes sounds</mat-list-item>
    <mat-list-item>7. Try to hit your headphones</mat-list-item>
    <mat-list-item>8. In case of wireless headphones, check the battery level</mat-list-item>
    <mat-list-item>9. Find another headphones and test them</mat-list-item>
    <mat-list-item>10. Check if the problem occurs just on the webside</mat-list-item>
    <mat-list-item>11. Take a 5 minute breake and try again</mat-list-item>
    <mat-list-item>12. Check the headphones electrical circuits</mat-list-item>
    <mat-list-item>13. Go over those hints again</mat-list-item>
    <mat-list-item>14. Try to use different browser</mat-list-item>
    <mat-list-item>15. Unplug and plug your headphones</mat-list-item>
  </mat-list>
  <p>In case of the hints above don't help you, fell free to <a class="link-like" (click)="onReportProblemClick()">report us the problem</a></p>
  <button mat-button class="navigation-button" (click)="onBackButtonClick()">Back</button>
</div>