<header class="page-header">
  What will happen during the test?
</header>
<section class="page-content">
  You will be presented with 28 short audio recordings. Each of them will represent one of three “acoustic scenes”, depending on the directions from which the foreground sounds arrive, as illustrated below.
  <div id="acoustic-scenes-container">
    <div></div>
    <div></div>
    <div></div>
  </div>
</section>
<nav class="page-navigation">
  <a mat-raised-button class="navigation-button" routerLink="/terms-sounds">Next</a>
  <a mat-raised-button class="navigation-button" routerLink="/questionnaire">Previous</a>
</nav>
