#headset {
	width: 100px;
	height: 100px;
	float: right;
	font-size: 100px;
	color: gray;
}

#policy-note {
	font-size: 23px;
}

#version-box {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 5px;
	margin-right: 5px;
	color: gray;
}
