#headset {
	width: 100px;
	height: 100px;
	float: right;
	font-size: 100px;
	color: gray;
}

#checkbox-container {
	margin-left: 60px;
	margin-right: 60px;
	// margin-bottom: 23px;
	margin-top: 45px;
}

#navigation-info {
	margin-top: 24px;
}

#version-box {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 5px;
	margin-right: 5px;
	color: gray;
}

.smaller-font {
	font-size: 23px;
}

::ng-deep .my-snackbar {
	min-width: 500px !important;
	height: 50px;
	display: block;
	margin-top: 330px !important;
	background: tomato;
	text-align: center;
}

::ng-deep .my-snackbar .mat-simple-snackbar {
	justify-content: center;
	font-size: 24px;
	color: white;
}

::ng-deep .mat-checkbox-inner-container-no-side-margin {
	transform: scale(1.8) translate(6px, 4px) !important;
}
