<header class="page-header">
    Terms - Foreground and Background sounds
</header>
<section class="page-content">
  <b>Foreground sounds</b> represent easily identifiable, important and clearly perceived audio sources.
  <br>
  <br>
  <b>Background sounds</b> normally represent reverberant, unimportant, unclear, ambient, “foggy” and distant sound sources.
</section>
<nav class="page-navigation">
  <a mat-raised-button class="navigation-button" (click)="gotoNextPage()">Next</a>
  <a mat-raised-button class="navigation-button" (click)="goToPreviousPage()">Previous</a>
</nav>
