<header class="page-header">
    Terms - Foreground and Background sounds
</header>
<section class="page-content">
  Foreground sounds represent easily identifiable, important and clearly perceived audio sources.
  <br>
  <br>
  Background sounds normally represent reverberant, unimportant, unclear, ambient, “foggy” and distant sound sources.
</section>
<nav class="page-navigation">
  <a mat-raised-button class="navigation-button" routerLink="/">Next</a>
  <a mat-raised-button class="navigation-button" routerLink="/poll-description">Previous</a>
</nav>
