.question {
	width: 100%;
	line-height: 75px;
}

.answer {
	width: 60%;
	font-size: 18px;
}

#headphones-answer-area {
	width: 100%;
	height: 90%;
	padding: 0px;
	background-color: rgb(189, 215, 238);
	border: 1px solid rgb(65, 113, 156);
	textarea {
		height: 60px;
		resize: none;
	}
}

#headphones-answer-area > .mat-form-field {
	width: 90%;
	height: 100%;
	padding: 20px;
	font-size: 24px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 24px;
}

.mat-raised-button ~ .mat-raised-button {
	margin-right: 16px;
}

::ng-deep .my-snackbar {
	min-width: 250px !important;
	height: 50px;
	display: block;
	margin-top: 330px !important;
	background: tomato;
	text-align: center;
}

::ng-deep .my-snackbar .mat-simple-snackbar {
	justify-content: center;
	font-size: 24px;
	color: white;
}

::ng-deep mat-grid-tile:last-of-type > .mat-figure {
	align-items: baseline !important;
}
