/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$primary-color-dark: rgb(46, 117, 182);
$primary-color-light: rgb(91, 155, 213);

.page-header {
	height: 100px;
	font-size: 36px;
	font-weight: bold;
	color: $primary-color-dark;
}

.page-content {
	height: 460px;
	font-size: 28px;
}

.page-navigation {
	display: flex;
	flex-direction: row-reverse;
}

.navigation-button {
	$nav-button-height: 50px;
	width: 250px;
	height: $nav-button-height;
	background-color: $primary-color-light;
	font-size: 28px;
	color: white;
	span { 
		line-height: $nav-button-height;
	}
}
